# Go
backend/vendor/
backend/.air.tmp/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Docker
docker-data/
scripts/test/resources/common.resource
/scripts/test/resources/__pycache__
/scripts/test/results
scripts/test/.venv/
